@using DataBase.Entity
@using System.Drawing
@model List<User>
@{
    ViewData["Title"] = "Пользователи";
}
@functions {
    public Image ByteArrayToImage(byte[] byteArrayIn)
    {
        using (var ms = new MemoryStream(byteArrayIn))
        {
            var returnImage = Image.FromStream(ms);

            return returnImage;
        }
    }
}

</br>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Manager/Index">Home</a></li>
    <li class="breadcrumb-item active">User</li>
</ol>
<hr class="my-4">

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Picture</th>
            <th scope="col">Number</th>
            <th scope="col">Password</th>
            <th scope="col">FirstName</th>
            <th scope="col">SecondName</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <div>
            <tr>
                <th scope="row">@user.Id</th>
                @if (user.Picture != null) {
                        var base64 = Convert.ToBase64String(user.Picture);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <th>
                    <img src="@imgSrc" width="100" height="100">
                </th>
                }else{
                    <th>Картинка отсутствует</th>
                }
               
                <th>@user.Number</th>
                <th>@user.Password</th>
                <th>@user.FirstName</th>
                <th>@user.SecondName</th>
                <th>
                    <a asp-controller="Manager" asp-action="BanUser" asp-route-userId="@user.Id">
                        <button type="button" class="btn btn-primary btn-sm" style="width:200px;">Заблокировать</button>
                    </a>
                </th>
            </tr>
            </div>
        }
    </tbody>
</table>