@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Личный кабинет";
}
@model UserModel
<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        @{
                            var imgSrc = "/avatar.webp";
                            if (Model.Picture != null)
                            {
                                var base64 = Convert.ToBase64String(Model.Picture);
                                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            }
                        }
                        <img src="@imgSrc" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.FirstName @Model.SecondName</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Полное имя</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.FirstName @Model.SecondName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Телефон</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Number</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                        <div class="card mb-4 mb-md-0" style="width:contain;">
                            <div class="card-body">
                                <h5>Ваши покупки</h5>
                                <hr class="my-4">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td>Название</td>
                                            <td>Тип</td>
                                            <td>Цена</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ListItems)
                                        {
                                    if (item != null)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            @if (@item.Type.Equals("Meal"))
                                            {
                                                <td>Второе блюдо</td>
                                            }
                                            @if (@item.Type.Equals("Soup"))
                                            {
                                                <td>Первое блюдо</td>
                                            }
                                            @if (@item.Type.Equals("Drink"))
                                            {
                                                <td>Напитки</td>
                                            }
                                            @if (@item.Type.Equals("Dessert"))
                                            {
                                                <td>Дессерт</td>
                                            }
                                            <td>@item.Price</td>
                                        </tr>
                                    }
                                }
                                    </tbody>
                                </table>

                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>