@using DataBase.Entity
@using System.Drawing
@model List<Item>
@{

}
@{
    ViewData["Title"] = "Меню";
}
@functions{
    public Image ByteArrayToImage(byte[] byteArrayIn)
    {
        using (var ms = new MemoryStream(byteArrayIn))
        {
            var returnImage = Image.FromStream(ms);

            return returnImage;
        }
    }

}
<style>
        .con {
        }
        .con div {
            display: inline-block;
            width: 300px;
            height: auto;
        }

        .product-item {
            width: 300px;
            text-align: center;
            margin: 0 20px 20px 0; /* Отступы */
            vertical-align: top; /* Выравнивание по верхнему краю */
            border-bottom: 4px solid #F5F5F5;
            font-family: "Open Sans";
            transition: .3s ease-in;
        }

        .product-item:hover {
            border-bottom: 4px solid #fc5a5a;
        }

        img {
            width: 100%;
            position:relative;
        }

        .product-list {
            background: #fafafa;
            padding: 15px 0;
        }

        .product-list h3 {
            font-size: 18px;
            font-weight: 400;
            color: #444444;
            margin: 0 0 10px 0;
        }

        .price {
            font-size: 16px;
            color: #fc5a5a;
            display: block;
            margin-bottom: 12px;
        }

        .button {
            text-decoration: none;
            display: inline-block;
            padding: 0 12px;
            background: #cccccc;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 28px;
            transition: .3s ease-in;
        }

        .product-item:hover .button {
            background: #fc5a5a;
        }
    </style>
</style>

<div class="text-center">
    <h1 class="display-4">Menu</h1>
</div>

<form method="post" asp-controller="Home" asp-action="Menu">

    <div >
        <label for="exampleSelect1" class="form-label mt-4">Сортировка</label>
        <select class="form-select" name="sort" value="" id="Type">
            <option>Нет</option>
            <option value ="up">По возрастанию цены</option>
            <option value ="down">По убыванию цены</option>
        </select>
    </div>

    <div >
        <label for="exampleSelect1" class="form-label mt-4">Фильтрация</label>
        <select class="form-select" name="filt" value="" id="Type">
            <option value="">Нет</option>
            <option value="Drink">Напиток</option>
            <option value="Soup">Суп</option>
            <option value="Meal">Второе блюдо</option>
            <option value="Dessert">Десерт</option>
        </select>
    </div>
    </br>
    <button  class="btn btn-outline-secondary btn-lg px-4" type="submit">Показать</button>
    </br>
</form>

<div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model)
            {
                <div class="col">
                    @{
                    var base64 = Convert.ToBase64String(item.Picture);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <div class="card shadow-sm">
                        <div class="card-body" >
                            <img src="@imgSrc" class="bd-placeholder-img card-img-top" width="225" height="100%" />
                            <p class="card-text">@item.Name</p>
                            <p class="card-text">@item.Type</p>
                            <p class="card-text">@item.Descryption</p>
                            <p class="card-text">@item.Price USDT</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Home" asp-action="addCartItem" asp-route-itemId=@item.Id >
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Добваить в корзину</button>
                                    </a>
                                </div>
                                <small class="text-muted">@item.IsExotic</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>